name: Skelly Synchronize Tests

on:
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.9'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
      - name: Run tests with pytest
        run: |
          pip install pytest
          pytest skelly_synchronize/tests
      - name: Upload pytest test results
        uses: actions/upload-artifact@v3
        with:
          name: pytest-results-3.9
          path: junit/test-results-3.9.xml
